body {
  margin: 0;
  padding: 0;
  font-family: GillSans;
}

.navbar {
  background-color: #81c784;
}

.navbarMoreOptions{
  background-color: #a5d6a7;
}

.noImageIcon {
  max-height: 100%;
  max-width: 100%;
}

.myCarousel {
  max-height: 100%;
  max-width: 100%;
}

.signInOrUpError {
  color: red;
}

.comments{
  font-size: 25px;
}

.commentBy{
  padding-left: 20px;
  font-size: 15px;
  color: #009688;
}